@{
    ViewData["Title"] = "MPI Marine Species List";
}

@{
    ViewBag.Title = "MPI Marine Species List";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">@ViewBag.Title</div>
    <!-- Panel Body -->
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed" id="Table">
            <tr>
                <th>Record Id</th>
                <th>Scientific Name</th>
                <th>Common Name</th>
            </tr>   <!--End of table-row -->
        </table>   <!--End of table -->
    </div> <!--End of Panel Body -->
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/SpeciesAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='IdPk'>" + item.idPk + "</td>" +
                        "<td id='Scientific'>" + item.scientific + "</td>" +
                        "<td id='Common'>" + item.common + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
</script>  