@{
    ViewData["Title"] = "MPI Marine Species List";
}

@{
    ViewBag.Title = "MPI Marine Species List";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <h3>
            <button class='btn-info btn-xs' name='btnCreate'>
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Create
            </button>
            &nbsp;&nbsp;@ViewBag.Title
        </h3>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed" id="Table">
            <tr>
                <th>Record Id</th>
                <th>Scientific Name</th>
                <th>Common Name</th>
                <th>Action</th>
            </tr>   <!--End of table-row -->
        </table>   <!--End of table -->
    </div> <!--End of Panel Body -->
</div>

<script>
    /*  <span class='glyphicons glyphicon-pencil'></span> */
    $(document).ready( () => {
        $.ajax({
            type: "GET",
            url: "/api/SpeciesAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='IdPk'>" + item.idPk + "</td>" +
                        "<td id='Scientific'>" + item.scientific + "</td>" +
                        "<td id='Common'>" + item.common + "</td>" +
                        "<td><button class='btn-info btn-xs' name='btnEdit'>"  +
                        "<span class='glyphicon glyphicon-pencil'></span></button>" +
                        "<button class='btn-info btn-xs' name='btnDetail'>" +
                        "<span class='glyphicon glyphicon-search'></span></button></td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
    
</script>  