@{
    ViewData["Title"] = "MPI Marine Species List";
}

@{
    ViewBag.Title = "MPI Marine Species List";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <h3>
            <button type="button" class='btn-info btn-xs' name='btnAddNew'
                    data-toggle="modal" data-target="#modalAdd">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add
            </button>
            &nbsp;&nbsp;@ViewBag.Title
        </h3>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed" id="Table">
            <tr>
                <th>Record Id</th>
                <th>Scientific Name</th>
                <th>Common Name</th>
                <th width="120px">Action</th>
            </tr>   <!--End of table-row -->
        </table>   <!--End of table -->
    </div> <!--End of Panel Body -->
</div>

@*
    How-to Modal

    https://www.w3schools.com/bootstrap/bootstrap_modal.asp
    https://www.w3schools.com/bootstrap/bootstrap_ref_js_modal.asp
    https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_ref_js_modal2&stacked=h

    http://www.superglobals.net/dynamic-content-in-bootstrap-modal/
    http://www.superglobals.net/submit-form-bootstrap-modal/

*@
<!-- Modal -->

<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new supplier</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="data_id">Record Id</label>
                    <input type="text" id="data_id" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="scientific_name">Scientific Name</label>
                    <input type="text" name="scientific_name"  id="scientific_name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="common_name">Common Name</label>
                    <input type="text" name="common_name" id="common_name" class="form-control" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="submitForm"  class="btn btn-default btn-lg btn-success">
                    <span class="glyphicon glyphicon-ok"></span>Save</button>
                <button type="submit" class="btn btn-default btn-lg btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </div>

        </div>

    </div>
</div>

<script>
    /* */
    $(document).ready( () => {
        $.ajax({
            type: "GET",
            url: "/api/SpeciesAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                $("#DIV").html('');
                var DIV = '';
                $.each(data, (i, item) => {
                    var rows = "<tr>" +
                        "<td id='IdPk'>" + item.idPk + "</td>" +
                        "<td id='Scientific'>" + item.scientific + "</td>" +
                        "<td id='Common'>" + item.common + "</td>" +
                        "<td><button class='btn-info btn-xs' name='btnEdit'>"  +
                        "<span class='glyphicon glyphicon-pencil'></span></button>" +
                        "<button class='btn-info btn-xs' name='btnDetail'>" +
                        "<span class='glyphicon glyphicon-search'></span></button>" +
                        "<button class='btn-info btn-xs' name='btnDelete'>" +
                        "<span class='glyphicon glyphicon-trash'></span></button></td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function
        });

        $("#submitForm").on('click', function () {
            $('#modalAdd').modal('hide');
            alert('save');
        });
    });

    @*  https://glyphicons.bootstrapcheatsheets.com/#
        <i class="glyphicon glyphicon-trash"></i>  *@

</script>  