<script src="~/lib/jquery/dist/jquery.min.js"></script>

<style>
    #myInput {
        width: 65%;
        font-size: 16px;
        color: black;
    }
    
    .table > tbody > tr > td {
        vertical-align: middle;
        text-align: left;
    } 
</style>

<body-content>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">MPI Approved Species List</div>
                    <div class="col-sm-7">
                        <input type="text" id="myInput" style="width:100%"
                               onkeyup="myFunction()" placeholder="Search by scientific name">
                    </div>
                </div>
            </div>
        </div>   <!--en dof panel-heading -->
        <!-- https://stackoverflow.com/questions/35418358/how-to-make-panel-heading-fixed-with-bootstrap -->

        <div class="panel-body" style="padding:0;border:0px;height:450px;overflow-y:auto">
            <table class="table table-bordered table-striped" id="Table">
                <tr>
                    <th>ID</th>
                    <th>Scientific Name</th>
                    <th>Common Name</th>
                </tr>   <!--end of table-row -->
            </table>   <!--end of table -->
        </div> <!--end of Panel-body -->
    </div> <!--end of Panel -->
</body-content>

<script>

    $(document).ready(() => {

        $.ajax({
            type: "GET",
            url: "/api/MPISpeciesAPI",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                $("#DIV").html('');
                var DIV = '';
                $.each(data, (i, item) => {
                    var rows = "<tr>" +
                        "<td id='IdPk'>" + item.idPk + "</td>" +
                        "<td id='Scientific'>" + item.scientific + "</td>" +
                        "<td id='Common'>" + item.common + "</td>" + "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function
        });

    });

    /*
        How TO - Filter / Search Table
        https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_table
    */
    /* Search Speices Scientific Name */
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("Table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>


