@{
    ViewData["Title"] = "Home Page";
}

@*
    using the following uri as a template Home page
    https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_store&stacked=h
*@
<div class="jumbotron">
    <div class="container text-center">
        <h1>A.I.M System</h1>
        <p></p>
        <p>ASP.NET Core 2 Web API Application</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">Species Movement Log</div>
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg"
                        onclick="location.href='@Url.Action("Index", "MovementPeriods")'">Setup Quarantine Period</button>
                <button class="btn-primary btn-block btn-lg">Tank Log Registry</button>
                <button class="btn-primary btn-block btn-lg">Daily Mortilty Registry</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">Tank Info Setup</div>
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg"
                        onclick="location.href='@Url.Action("Index", "TankBays")'">Setup Bay / Bank / Aisle</button>
                <button class="btn-primary btn-block btn-lg">Tank Registry</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">System</div>
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg">MPI Approved Species</button>
                <button class="btn-primary btn-block btn-lg">Mortality Reason</button>
            </div>
        </div>
    </div>
</div>