@model IMSWebApp.Models.MovementPeriod

@{
    ViewData["Title"] = "Quarantine Period";
}

<br/>
<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <h2>
            <span class='glyphicon glyphicon-pencil' style="color:#5cb85c"></span>
            &nbsp;@ViewData["Title"]
        </h2>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdPk" />
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text" class="control-label"></label>
                        <input asp-for="Text" class="form-control" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClosedDate" class="control-label"></label>
                        <input asp-for="ClosedDate" class="form-control" />
                        <span asp-validation-for="ClosedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClosedFlag" class="control-label"></label>
                        <input asp-for="ClosedFlag" class="form-control" />
                        <span asp-validation-for="ClosedFlag" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-bottom:0!important;">
                        <input type="submit" value="Save" class="btn btn-lg btn-success btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Panel Footer -->
    <div class="panel-footer">
        <div>
            <a class="btn btn-primary btn-lg btn-block" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}



