@{
    ViewBag.Title = "Modal Pages";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<div class="panel panel-info">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <h3>
            <button type="button" class='btn-info btn-xs' name='btnAddNew'
                    data-toggle="modal" data-target="#modalAdd">
                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add
            </button>
            &nbsp;&nbsp;@ViewBag.Title
        </h3>
    </div>
    @*
    <!-- Panel Body -->
    <div class="panel-body">
        <table class="table table-bordered table-striped table-condensed" id="Table">
            <tr>
                <th>Record Id</th>
                <th>Name</th>
                <th>Address Name</th>
                <th>Action</th>
            </tr>   <!--End of table-row -->
        </table>   <!--End of table -->
    </div> <!--End of Panel Body -->
    *@
    <div class="panel-body">

        <!-- Modal Trigger -->
    @* <button data-target="modal1" class="btn modal-trigger">Modal</button> *@
        



    </div> <!--End of Panel Body -->
</div>

        <!-- Modal Structure -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h3>Modal Body</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>